html {
      margin-left: 200px;
      margin-right: 200px;
      color: #fbf1c7
}

/* h1, h2, h3, h4, h5, h6, p { */
/*       margin-left: 200px; */
/*       margin-right: 200px; */
/*       color: #fbf1c7; */
/* } */

body {
      background-color: #282828;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

a {
  color: #83a598;
}

 /* unvisited link */
a:link {
  color: #83a598;
}

/* visited link */
a:visited {
  color: #d3869b;
}

/* mouse over link */
a:hover {
  color: #fe8019;
}

/* selected link */
a:active {
  color: #b8bb26;
}


/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  /* color: black; */
  /* background-color: #83a598; */
  color: #83a598;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #1d2021;
}

/* /1* Add a color to the active/current link *1/ */
/* .topnav a.active { */
/*   /1* background-color: #04AA6D; *1/ */
/*   /1* color: #1d2021; *1/ */
/*   color: #04AA6D; */
/* } */

ul {
  list-style-type: "→  ";
}
