/* Author      : Ethan Rietz */
/* Date        : 2021-06-14 */
/* Description : Styling for my website */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --red: #fb8072;
  --green: #b3de69;
  --yellow: #ffffb3;
  --blue: #8dd3c7;
  --purple: #bebada;
  --orange: #fdb462;
  --grey90: #0c0c0d;
  --grey80: #2a2a2e;
  --grey70: #38383d;
  --grey60: #4a4a4f;
  --grey50: #737373;
  --grey40: #b1b1b3;
  --grey30: #d7d7db;
  --grey20: #ededf0;
  --grey10: #f9f9fa;
  --white100: ##ffffff;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 80%;

  margin: auto;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 900px; 

  font-family: Ubuntu, Verdana, sans-serif;
  font-size: 100%;
  line-height: 140%;
  color: var(--grey10);
  background-color: var(--grey70);
}

/* inline source code */
code {
  font-family: Ubuntu Mono, Courier New, monospace;
  background-color: var(--grey60);
  font-size: 110%;
  border-radius: 4px;
}

/* pre formatted text (code syntax highlighting) */
pre {
  border: 2px solid var(--blue);
  border-radius: 4px;
  background-color: unset;
  padding: 0.5em;
  overflow: scroll;
}

/* Do not put background color on code in preformatted blocks */
pre code {
  background-color: unset;
}

.sourceCode {
  overflow: scroll;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--yellow);
  /* padding-top: 0.5em; */
  /* padding-bottom: 0.5em; */
  line-height: 140%;
}

h1 {
  border-bottom: 1px solid #aaaaaa;
}

table {
  /* width: 50%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  border-collapse: collapse;
}

/* table headings */
th, td {
  padding: 0.5rem;
  text-align: left;
}

tr:hover {
  background-color: rgb(243, 150, 96, 0.3);
}

/* input fields */
input {
  background-color: var(--grey10);
}

button {
  background-color: var(--grey10);
}

/* for centering images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  animation: rotation 180s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* anchors */
a {
  color: var(--blue);
}

 /* unvisited link */
a:link {
  color: var(--blue);
}

/* visited link */
a:visited {
  color: var(--purple);
}

/* mouse over link */
a:hover {
  color: var(--orange);
}

/* selected link */
a:active {
  color: var(--green);
}


/* Add a black background color to the top navigation */
.topnav {
  overflow: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  /* color: black; */
  /* background-color: #83a598; */
  color: var(--blue);
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 17px;
}

#topnav-home {
  float: left;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* border: 2px solid var(--aqua); */
  border-radius: 4px;
  background-color: var(--blue);
  color: black;
}

.footer {
  position: absolute;
  height: 20px;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0px;
  /* margin-bottom: -10px; */
  text-align: center;
  /* margin-left: 25%; */
  /* width:20%; */
  /* margin: 5em; */
  /* position: relative; */
  /* bottom: 0; */
}

.footer a {
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: var(--orange);
}

.footer-text {
  display: block;
  color: var(--grey10);
  font-size:0.8em;
}

/* For putting images side by side */
.container {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}
.containerblock {
    max-width: 350px ;
    text-align: center ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.containerblock code {
  font-size: small ;
  overflow-wrap: break-word ;
}
